<x-main>
  <div class="font-poppins">
    <table class="w-[600px] max-w-full mx-auto bg-white">
      <tr>
        <td class="my-6 sm:my-4 text-center">
          <x-weblink />
        </td>
      </tr>
      <tr>
        <td>
          <div class="bg-white text-left p-16 border-0 border-t-8 border-[#c72443] border-solid">
            <div class="text-5xl font-bold leading-15">
              <div>it's finish 🥳</div>
            </div>

            <div class="text-2xl font-normal mt-8">
              <div>Hello Martin, the deadline for sponsoring your kohort has ended.</div>
              <div>Unfortunately, none of your friends answered the call, you didn't earn any cashback.</div>
            </div>

            <div class="text-2xl font-normal mt-8">
              Don't worry, you'll do better next time when you order again from
              <a href="#">Nike.com</a> or one of our other partners
            </div>

            <div>
              <x-test-button text="See my kohort" />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <x-test-footer />
        </td>
      </tr>
    </table>
  </div>
</x-main>