---
goal_cashback: "15% cashback"
---

<x-main>
  <div class="font-poppins">
    <table class="w-[600px] max-w-full mx-auto bg-white">
      <tr>
        <td class="my-6 sm:my-4 text-center">
          <x-weblink />
        </td>
      </tr>
      <tr>
        <td>
          <div class="bg-white text-left p-16 border-0 border-t-8 border-[#c72443] border-solid">
            <div class="text-5xl font-bold leading-15">
              <div>it's finish 😎</div>
            </div>

            <div class="text-2xl font-normal mt-8">
              Hello Martin, the kohort sponsorship deadline has ended. With your friends, you have reached the
              <span class="font-bold">{{ page.goal_cashback }} </span>threshold, congratulations!
            </div>

            <div>
              <x-test-button text="See the kohort" />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <x-test-footer />
        </td>
      </tr>
    </table>
  </div>
</x-main>