<tr class="bg-brand-900 text-white text-xs">
  <td class="px-10 py-4 sm:px-6">
    <table class="w-full">
      <tr>
        <td class="w-8/12 sm:w-full inline-block">
          <a href="https://www.kohortpay.com">
            <img
              src="https://emails.kohortpay.com/images/kohortpay.png"
              width="83"
              alt="kohortpay"
            />
          </a>
          <p class="my-1.5 text-xxs text-gray-400">
            @{{staticData.footer.addressLine1}}<br />
            @{{staticData.footer.addressLine2}}<br />
            @{{staticData.footer.addressLine3}}
          </p>
        </td>
        <td
          class="w-3/12 sm:w-full inline-block border-0 sm:border-l-0 sm:border-t border-l border-solid border-gray-400 sm:pl-0 sm:mt-4 sm:pt-2 pl-10 sm:text-center"
        >
          <a
            class="no-underline text-gray-400 leading-6 sm:pr-6"
            target="_blank"
            href="@{{staticData.footer.privacyPolicyUrl}}"
            >@{{staticData.footer.privacyPolicy}}</a
          >
          <a
            class="no-underline text-gray-400 leading-6 sm:pr-6"
            target="_blank"
            href="@{{staticData.footer.termsAndConditionsUrl}}"
            >@{{staticData.footer.termsAndConditions}}</a
          >
          <a
            class="no-underline text-gray-400 leading-6 sm:pr-6"
            target="_blank"
            href="@{{staticData.footer.helpCenterUrl}}"
            >@{{staticData.footer.helpCenter}}</a
          >
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="leading-12">&zwj;</td>
</tr>
