<script props>
  module.exports = {
    imgSrc: props.imgSrc || "default-image-url",
    title: props.title || "Default Title",
    description: props.description || "Default Description",
    imgWidth: props.imgWidth || "160px",
    titleClass:
      props.titleClass || "text-center text-xs font-semibold leading-3.5 pr-4",
    imgClass: props.imgClass || "text-center pr-4 h-24",
    descriptionClass: props.descriptionClass || "text-center text-[10px] pr-4",
  };
</script>
<td class="w-1/3 sm:w-full inline-block text-[#170D2C]">
  <p class="{{ imgClass }}">
    <img src="{{ imgSrc }}" width="{{ imgWidth }}" />
  </p>
  <p class="{{ titleClass }}">{{ title }}</p>
  <p class="{{ descriptionClass }}">{{ description }}</p>
</td>
