<div class="bg-[#fffaf6] px-14 py-5">
  <table class="w-full">
    <tr>
      <td class="w-[65%]">
        <table>
          <tr>
            <td class="pb-2.5"><span class="text-lg font-bold">KohortPay</span></td>
          </tr>
          <tr>
            <td class="text-sm">
              <div>61 bd des Dames</div>
              <div>13002 Marseille</div>
              <div>France</div>
            </td>
          </tr>
        </table>
      </td>
      <td class="text-sm w-[35%]">
        <div class="mb-1">Confidentiality</div>
        <div class="mb-1">Terms and conditions</div>
        <div class="mb-1">Help Center</div>
      </td>
    </tr>
  </table>
</div>